<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<section>

  <ion-row>
    <ion-col>
      <ion-button size="small" color="primary" expand="block" (click)="anadir()">Agregue su ubicacion aquí</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="small" color="tertiary" expand="block" (click)="authService.logout()">
        Cerrar Sesion
      </ion-button>
    </ion-col>
  </ion-row>


</section>

<h1>Los lugares mas Hermosos</h1>

<ion-content class="ion-padding">
  <div class="item-slider">
    <ion-slide *ngFor="let item of lugares | async">
      <ion-col (click)="seleccion(item)">
        <ion-card class="ion-margin-top">
          <ion-card-header class="ion-no-padding">
            <ion-img [src]="item.imageUrl"></ion-img>
            <ion-card-title class="ion-padding">{{ item.titulo }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{ item.desCorta }}
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-slide>
  </div>
</ion-content>
