<ion-header>
  <ion-toolbar>
    <ion-title>lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <!-- <img [src]="dato.imageUrl" alt="imagen"> -->

      <center>
        <ion-card-title> {{ lugar.titulo }}</ion-card-title>
      </center>
      <ion-card-subtitle> {{ lugar.desCorta }}</ion-card-subtitle>
    </ion-card-header>


    <ion-item>
      <ion-label>Como llegar</ion-label>
      <ion-button fill="outline" slot="end" (click)="trazarRuta()">Trazar Ruta</ion-button>
    </ion-item>

    <ion-card-content>
      {{ lugar.desLarga }}
    </ion-card-content>

    <ion-item>
      <ion-label fill="outline">Mapa</ion-label>
    </ion-item>

    <ion-item>
      <div #map class="map"></div>
    </ion-item>

    <ion-item>
      <ion-label fill="outline">Comentarios</ion-label>
    </ion-item>

  </ion-card>

  <ion-item>
    <ion-label position="floating">Ingrese Comentario</ion-label>
    <ion-textarea fill="outline" #comentario></ion-textarea>
    <ion-button fill="outline" slot="end" (click)="comentar(comentario)">Comentar</ion-button>
  </ion-item>

  <ion-list>

    <ion-list-header>
      <center>
        <h1>Comentarios Recientes</h1>

      </center>
    </ion-list-header>

    <ion-item *ngFor="let item of comentariosLista | async">
      <ion-label>persona dice: </ion-label>

      <ion-input disabled>{{ item.texto }}</ion-input>

    </ion-item>
  </ion-list>

</ion-content>
