<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../Img/marker.pngp" />
        </ion-avatar>
        <ion-label>
          <h1>Turisteando</h1>
          <h2>Ecuador</h2>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input name="txtCorreo" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input name="txtContra"></ion-input>
      </ion-item>

    </ion-card-content>
    <section>
      <ion-button size="small" color="medium" (click)="ingresar()">Inicio Sesión</ion-button>
      <ion-button size="small" color="medium">Registrarse</ion-button>
    </section>
    <section>
      <header>Iniciar con:</header>
      <ion-button size="small" color="warning">
        <ion-icon name="logo-google"></ion-icon>
        Google
      </ion-button>
      <ion-button size="small" color="tertiary">
        <ion-icon name="logo-facebook">
        </ion-icon> Facebook
      </ion-button>
    </section>
  </ion-card>

</ion-content>
