<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../Img/marker.pngp" />
        </ion-avatar>
        <ion-label>
          <h1>Turisteando</h1>
          <h2>Ecuador</h2>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>

      <form>
        <ion-item lines="full">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" #email required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" #password required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" size="small" color="medium" (click)="login(email, password)" expand="block">
              Inicio Sesión
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="medium" expand="block">Registrarse</ion-button>
          </ion-col>
        </ion-row>

        <header>Iniciar con:</header>
        <ion-button size="small" color="warning" (click)="loginGoogle()">
          <ion-icon name="logo-google"></ion-icon>
          Google
        </ion-button>
      </form>
    </ion-card-content>

    <section>

      <ion-button size="small" color="tertiary">
        <ion-icon name="logo-facebook">
        </ion-icon> Facebook
      </ion-button>
    </section>
  </ion-card>

</ion-content>
