<ion-header>
  <ion-toolbar>
    <ion-title>Mapa de Cuenca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/proyectofinalpm-7815e.appspot.com/o/imagenes%2Fmarker.png?alt=media&token=a59c55f4-5e3a-47ad-baad-a16ac3188bd0" />
      </ion-avatar>
      <ion-label>
        <h1>Turisteando</h1>
        <h2>Ecuador</h2>
      </ion-label>
    </ion-item>
  </ion-card-header>

  <h3>Este mapa es solo de visualización</h3>

  <div #map class="map"></div>

</ion-content>
